**/desktop.ini
**/desktop.ini.meta
UnityVS.bb.CSharp*
UnityVS.unity.CSharp*
.vs/*
Assets/LICENSE.txt
Assets/LICENSE.txt.meta
Assets/OculusPlatform.meta
Assets/OSPNative.meta
Assets/OVR.meta
Assets/OVRAudioManager.meta
Assets/OvrAvatar.meta
Assets/OculusPlatform/
Assets/OSPNative/
Assets/OVR/
Assets/OVRAudioManager/
Assets/OvrAvatar/
Assets/Plugins/Android/
Editor/
Temp/*
Library/*
obj/*
UnityPackageManager/*